extends layout

block head
    link(rel="stylesheet", href="/stylesheets/creationJoueur.css")
    script(src="/app/js/controllers/characterCreationController.js")
block content
    img(src="/images/loup_solitaire.png")

    section(ng-app="creationJoueurApp" ng-controller="creationJoueurController as ctrl") 
        div()
            h1 Création du personnage

            div#erreurs
                ul
                    each e in erreursMsg
                        li=e

            form(name="form" action="/page" method="post")
                fieldset
                    legend Nom
                    div
                        label 
                            input(type="textbox" ng-model="user.nom" name="nom" value=c.nom placeholder="Capitaine Crotte de nez" required)
                        div#erreurs
                            ul
                                li.errorMsg(ng-show="form.nom.$error.required").
                                    {{MSG_ERREUR.NOM}}
                fieldset
                    legend Disciplines
                    p Choisir 5 disciplines
                        div#erreurs
                            ul
                                li.errorMsg(ng-show="showDisciplineError").
                                    {{MSG_ERREUR.DISCIPLINE}}
                    div#gauche
                        label
                            input(type="checkbox" ng-model="user.disciplines.camouflage" name="discipline" value=c.discipline.CAMOUFLAGE ng-click="countDisciplines($event)")
                            | Le camouflage
                        label
                            input(type="checkbox" ng-model="user.disciplines.chasse" name="discipline" value=c.discipline.CHASSE ng-click="countDisciplines($event)")
                            | La chasse
                        label
                            input(type="checkbox" ng-model="user.disciplines.sixiemeSens" name="discipline" value=c.discipline.SIXIEME_SENS ng-click="countDisciplines($event)")
                            | Sixième Sens
                        label
                            input(type="checkbox" ng-model="user.disciplines.orientation" name="discipline" value=c.discipline.ORIENTATION ng-click="countDisciplines($event)")
                            | L'Orientation
                        label
                            input(type="checkbox" ng-model="user.disciplines.guerison" name="discipline" value=c.discipline.GUERISON ng-click="countDisciplines($event)")
                            | La guérison
                    div#droite
                        label
                            input(type="checkbox" ng-model="user.disciplines.maitriseArmes" name="discipline" value=c.discipline.MAITRISE_ARMES ng-click="countDisciplines($event)")
                            | La Maîtrise des Armes
                        label
                            input(type="checkbox" ng-model="user.disciplines.bouclierPsychique" name="discipline" value=c.discipline.BOUCLIER_PSYCHIQUE ng-click="countDisciplines($event)")
                            | Bouclier Psychique
                        label
                            input(type="checkbox" ng-model="user.disciplines.puissancePsychique" name="discipline" value=c.discipline.PUISSANCE_PSYCHIQUE ng-click="countDisciplines($event)")
                            | Puissance Psychique
                        label
                            input(type="checkbox" ng-model="user.disciplines.communicationAnimale" name="discipline" value=c.discipline.COMMUNICATION_ANIMALE ng-click="countDisciplines($event)")
                            | Communication Animale
                        label
                            input(type="checkbox" ng-model="user.disciplines.maitrisePhysiqueMatiere" name="discipline" value=c.discipline.MAITRISE_PSYCHIQUE_MATIERE ng-click="countDisciplines($event)")
                            | Maîtrise Psychique de la Matière
                fieldset
                    legend Équipement
                    p Choisir 2 items:
                        div#erreurs
                            ul
                                li(ng-show="showArmeError").
                                    {{MSG_ERREUR.ARME}}
                                li(ng-show="showMaitriseArmeError").
                                    {{MSG_ERREUR.MAITRISE}}
                    div
                        label
                            input(type="checkbox" ng-model="user.armesEtObjets.epee" name="arme" value=c.arme.EPEE ng-click="countArme($event)" )
                            | Épée (Arme)
                        label
                            input(type="checkbox" ng-model="user.armesEtObjets.sabre" name="arme" value=c.arme.SABRE ng-click="countArme($event)")
                            | Sabre (Arme)
                        label
                            input(type="checkbox" ng-model="user.armesEtObjets.lance" name="arme" value=c.arme.LANCE ng-click="countArme($event)" )
                            | Lance (Arme)
                        label
                            input(type="checkbox" ng-model="user.armesEtObjets.masse" name="arme" value=c.arme.MASSE_ARME ng-click="countArme($event)")
                            | Masse d'Arme (Arme)
                        label
                            input(type="checkbox" ng-model="user.armesEtObjets.marteau" name="arme" value=c.arme.MARTEAU_GUERRE ng-click="countArme($event)")
                            | Marteau de Guerre (Arme)
                        label
                            input(type="checkbox" ng-model="user.armesEtObjets.hache" name="arme" value=c.arme.HACHE ng-click="countArme($event)" )
                            | Hâche (Arme)
                        label
                            input(type="checkbox" ng-model="user.armesEtObjets.baton" name="arme" value=c.arme.BATON ng-click="countArme($event)")
                            | Bâton (Arme)
                        label
                            input(type="checkbox" ng-model="user.armesEtObjets.glaive" name="arme" value=c.arme.GLAIVE ng-click="countArme($event)")
                            | Glaive (Arme)
                        label
                            input(type="checkbox" ng-model="user.armesEtObjets.gilet" name="objetSpecial" value=c.objetSpecial.GILET_CUIR_MARTELE ng-click="countArme($event)")
                            | Gilet de Cuir Martelé (Objet Spécial)
                        label
                            input(type="checkbox" ng-model="user.armesEtObjets.potion" name="objet" value=c.objet.POTION_LAMPSUR ng-click="countArme($event)")
                            | Potion de Lampsur (Objet dans le sac à dos)
                        label
                            input(type="checkbox" ng-model="user.armesEtObjets.ration" name="objet" value=c.objet.RATIONS_SPECIALES ng-click="countArme($event)")
                            | Rations spéciales (Objet dans le sac à dos)
                div#erreurs
                    ul
                        li(ng-show="showArmeError").
                            {{MSG_ERREUR.ARME}}
                        li(ng-show="showMaitriseArmeError").
                            {{MSG_ERREUR.MAITRISE}}
                        li(ng-show="showDisciplineError").
                            {{MSG_ERREUR.DISCIPLINE}}
                        li(ng-show="form.nom.$error.required").
                            {{MSG_ERREUR.NOM}}
                input.button(type="submit"  ng-disabled="showDisciplineError || showArmeError || showMaitriseArmeError || form.nom.$error.required" value="Commencer la partie!")
        div#autresJoueur
            p
            table.CSSTableGenerator
                tr
                    td Nom
                    td Page
                    td Continuer
                    td Supprimer
                tr(ng-repeat="j in joueursExistant")
                    td {{j.nom}}
                    td {{j.avancement.pageId}}
                    td 
                        a.button(value="Continuer" ng-click="continuer(j)") Continuer
                    td 
                        a.button(value="Supprimer" ng-click="deleteJoueur(j)") Supprimer
                tr
            table
