#accueil {
    background-color: #808080;
}

img {
    width: 736px;
    height: 200px;
    margin: 20px auto 10px;
    display: block;
}

section p {
    margin-bottom: 20px;
}

.button {
  line-height: 65px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

