* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}

section {
  width: 600px;
  margin: 50px auto 50px;
}

section h2 {
    color: rgb(50, 48, 0);
    text-align: center;
    font-size: 1.5em;
    margin: 30px 0 20px;
}
a {
    cursor: pointer;
}

p {
    text-align: justify;
}

li {
    text-align: justify;
    margin-bottom: 10px;
}

nav {
    width: 100%;
    top: 0px;
    height: 40px;
    padding-top: 20px;
    background-color: rgba(1,1,1,0.8);
    text-align: center;
    box-shadow: 0 0 15px 0 #000;
}

nav ul {
    position: relative;
    bottom: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 40px;
}

nav li {
    display: inline-block;
    padding: 20px 0;
}

nav a {
    height: 40px;
    color: white;
    text-decoration: none;
    padding: 20px 20px;
}

nav a:hover {
    color: lightgray;
}


h1 {
    color: rgb(50,48,0);
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 40px;
}

/* FOOTER */
footer {
    width: 100%; /* L'en-tête doit prendre toute la largeur */
    height: 60px; /* L'en-tête a une taille spécifique */
    padding-top: 20px; /* BUG: Sans cette ligne, le haut de la boîte 'body' ne s'affiche pas en haut complètement.*/
    padding-bottom: 10px;
    background-color: rgba(1,1,1,0.8); /* Couleur arrière-plan légèrement transparent */
    text-align: center; /* On aligne le texte à l'intérieur de l'en-tête au centre */
    -webkit-box-shadow: 0px 0px 15px 0px #000000;
    -moz-box-shadow: 0px 0px 15px 0px #000000;
    box-shadow: 0px 0px 15px 0px #000000;
}

footer p {
    text-align: center;
    color: white;
    padding: 5px;
    margin: 0px;
}

/* FORME BOUTON */
.button {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf)  );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100%  );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:3px solid #dcdcdc;
  display:block;
  color:#777777;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:65px;
  width:200px;
  text-decoration:none;
  text-align:center;
  margin: 0px auto;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed)  );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100%  );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}

