#creationJoueur {
    background-color: #808080;
}

main {
    width: 1050px;
    margin: 0 auto;
}

p {
    font-family: Souvenir,Georgia,"Times New Roman",Times,serif;
}



#title {
    width: 600px;
    height: 100px;
    /* margin: 30px 80px 10px; */
    margin: 30px 80px 10px 0px;
}

#title img {
    display: inline-block;
}

#title #numeroPage {
    display: inline-block;
    width: 50px;
    vertical-align: top;
    position: relative;
    top: 50%;
    right: 51px;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

#histoire {
  width: 550px;
  /* margin: 0 50px 0 100px; */
  margin: 0 50px 0 0;
  display: inline-block;
}

#histoire p {
    margin: 15px 0;
}

#histoire fieldset {
    margin-bottom: 20px;
    padding: 10px 0;
    border: 2px solid black;
    border-color: gray;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#histoire legend {
    padding: 0 10px;
    margin-left: 15px;
    font-size: 1.5em;
}

#histoire label input {
    margin-right: 5px;
}

#ajouterObjets div {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 10px 20px;
    width: 225px;
}

/* COMBATS */
#combat {
  width: 500px;
  border: 5px groove #808080;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 0 30px;
}

#monstre {
  margin: 20px 0;
  font-size: 15px;
}

#nomMonstre {
  font-weight: bold;
  margin-right: 5px;
}

#nomMonstre ~ span {
  margin-left: 5px;
  margin-right: 15px;
}

.rondeCombat div:first-child {
  font-weight: bold;
}

.rondeCombat div:first-child span {
  margin-left: 5px;
}

.rondeCombat div {
  margin-bottom: 20px;
}

.rondeCombat p {
  margin: 0;
}

#decision {
    border: 5px groove #808080;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

#decision img {
    display: inline-block;
    width: 162.5px;
    height: 129px;
    margin-right: 30px;
}

#decision div {
    display: inline-block;
    width: 280px;
    vertical-align: top;
}

#decision div p {
    margin-bottom: 20px;
}

#decision div p:first-letter {
    text-transform: capitalize;
}

#decision a {
    text-decoration: none;
    color: #008000;
    font-weight: bold;
}

#histoire > img {
    display: block;
    margin: 30px auto;
}

#histoire img.avantTexte {
    display: block;
    margin: 30px auto;
}

#histoire img + p {
    /* display: inline-block; */
    /* width: 295px; */
    margin-left: 20px;
    vertical-align: top;
}

#stats {
    position: relative;
    top: -100px;
    display: inline-block;
    width: 425px;
    height: 700px;
    vertical-align: top;
    margin: 0;
    background-image: url("/images/scroll.gif");
    background-size: 425px 700px;
    background-repeat: no-repeat;
}

#stats table {
    margin: 0 auto;
}

#stats table td img {
    display: block;
    margin: 10px auto;
}

#stats table td:last-child {
    padding: 0 20px;
    vertical-align: middle;
    font-size: 20px;
}

#stats > p {
    text-align:center;
}

#stats > p:first-child {
    margin-top: 80px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#stats div > p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 10px 0;
}

#stats > div > p {
    text-transform: uppercase;
}

#stats ul {
    list-style: none;
}

#disciplines li {
    text-align: center;
    margin: 10px 0 5px 0;
}

#stats a.button {
  display: inline-block;
  width: 120px;
  height: 40px;
  font-size: 13px;
  margin: 15px;
  line-height: 36px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sacADos {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#sacADos:target {
    display: block;
}

#sacADos > img {
    display: block;
    width: 380px;
    height: 560px;
    position: fixed;
    left: 50%;
    margin-left: -190px;
    z-index: 2;
}

#sacADos > div {
    position: fixed;
    top: 160px;
    left: 50%;
    width: 380px;
    height: 350px;
    margin-left: -190px;
    background-color: rgb(0,0,0,1);
    color: white;
    z-index: 3;
}

#sacADos > div > div {
    display: inline-block;
    vertical-align: top;
}

#sacADos li {
    text-align: center;
}

#sacADos > div p {
    text-transform: capitalize;
}

#sacADos > div > div {
    width: 190px;
    height: 280px;
}

#sacADos #fermerSacADos {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
}

#histoire .button {
  display: inline-block;
  width: 120px;
  height: 40px;
  font-size: 13px;
  margin: 15px;
  line-height: 36px;
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#histoire  div.ronde {
	display: inline-block;
	text-align: left;
	margin: 5px;
	padding: 7px;
    border: 2px solid #808080;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #808080;
    border-right-color: #808080;
    border-bottom-color: #808080;
    border-left-color: #808080;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
	border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.texteStats{
font-size: 14px;
font-weight:bold;
}

.capitalize{
text-transform: capitalize;
}
