<fieldset ng-if='pickupSpecial.length > 0'>
<legend>Choisir le(s) objet(s) à conserver</legend>
<div ng-repeat='obj in pickupSpecial'>
    <label class="choix">
        <input id="pick{{$index}}" type="checkbox"> {{obj}}
    </label>
</div>
<a class="button" ng-click="confirmerPickupSpecial()">Prendre</a>
</fieldset>