<label>
    <a ng-click="activerPP()" ng-show="object.aPP" class="button">Puis. Psy.</a>
</label>
<p class="ng-binding">Nom : {{object.nom}}</p>
<p class="ng-binding">Vie : {{object.endurance}}</p>
<p class="ng-binding">Habilete : {{object.habilete}}</p>
<div class="ronde" ng-repeat="r in object.rondes">
    <p class="ng-binding">Ronde {{$index}}</p>
    <p class="ng-binding">Quotient d'attaque {{r.quotientAttaque}}</p>
    <p class="ng-binding">Chiffre aléatoire {{r.chiffreAleatoire}}</p>
    <p class="ng-binding">Dégât joueur {{r.degatJoueur}}</p>
    <p class="ng-binding">Dégât ennemi {{r.degatEnnemi}}</p>
</div>

<div id="combat" ng-show="aCombat && playerIsAlive">
    <a text="Combattre" ng-click="combattre()" class="button">Combattre</a>
    <a ng-if="combat.peutFuir == true" text="Fuir" ng-click="fuir()" class="button">Fuir</a>
</div>