extends ../layout

block head
    link(rel="stylesheet", href="/stylesheets/pageJeu.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src="/app/js/app.js")
    script(src="/app/js/filters/lameToFancy.js")
    script(src="/app/js/constantes.js")
    script(src="/app/js/controllers/pagesController.js")
    script(src="/app/js/controllers/combatController.js")

block content
    div(ng-app="pagesApp")
        div(ng-controller="pagesController as ctrl")
            main
                div#title
                    img(src="/images/pageTitre.png")
                    p#numeroPage
                        {{numeroPage}}

                section#histoire
                    div(ng-repeat="object in htmlPage")
                        div(ng-if="object.text")
                            p {{object.text}}
                        div(ng-if="object.img")
                            img.avantTexte(src="{{object.img}}")
                        div(ng-if="object.combat" nage-bad-combat ng-controller="combatController as cmbctrl")
                    
                    div(ng-if="pickup")
                        p Prendre : {{pickup}}
                        a.button(ng-click="confirmerPickup()") Confirmer

                    div(choix-Cs)

                    div#messageMort(ng-show="!playerIsAlive")
                        div
                            p.
                                MORT LOLOLOL! TU DOIS RECOMMENCER!
                                
                    div#confirmation(ng-show="aConfirmation155 && playerIsAlive")
                        a.button(ng-if="aRepas()" ng-click="perteRepas()") Manger
                        a.button(ng-click="perteEndurance()") Perte
                    
                    div#confirmation(ng-show="aConfirmation && playerIsAlive")
                        a.button(ng-if="numeroPage == 12" ng-click="perteRepas()") Confirmer
                        a.button(ng-if="numeroPage != 12" ng-click="perteEndurance()") Confirmer
                        
                    

                    div#decision(ng-show="aDecision && playerIsAlive")
                        img(src="/images/decision.jpg")
                        div
                            div(ng-repeat="d in decisions")
                                p {{d.text}} #[a(ng-click="loadNewPage(getNumPage(d.page))" href="") rendez-vous au {{getNumPage(d.page)}}]
                                
                include ./stats.jade
