section#stats
    p Feuille d'Aventure
    table
        tbody
            tr
                td
                    p.texteStats. 
                        Nom
                td
                    p #[span.texteStats {{joueur.nom}}]
            tr
                td
                    img(src="/images/points_endurance.png")
                td
                    p #[span#endurance_restante {{enDuranceString()}}]
            tr
                td
                    img(src="/images/points_habilete.png")
                td
                    p#habilete {{habileteString()}}
            tr
                td
                    img(src="/images/pieces_or.png")
                td
                    p #[span#pieceOr {{joueur.pieceOr}}] / #[span#endurance_total 50]
    div
        p Disciplines Kai
        ul#disciplines(ng-repeat="d in joueur.disciplines")
            li.texteStats.capitalize {{d | ltF}}

    p
        a.button(href="#sacADos") Sac à dos
    div#sacADos
        a#fermerSacADos(href="#")
        img(src="/images/backpack.png")
        div
            div
                p Objets
                ul#disciplines(ng-repeat="o in joueur.objets" )
                    li.capitalize {{o | ltF}}
            div
                p Objets Spéciaux
                ul#disciplines(ng-repeat="o in joueur.objetsSpeciaux")
                    li.capitalize {{o | ltF}}

